toolbar()
	list-style none

	li
		cursor pointer
		display inline-block

toolbar-modal()
	top 20%
	left 50%
	width 60%
	z-index 100
	padding 24px
	background #FFF
	position absolute
	transform translate(-50%,-50%)