<div class="toolbar-modal new-scene-view">
	<a href="#" class="close-modal">Cerrar</a>
	<h3>Nueva escena</h3>

	<div class="modal-help">
		A continuación puedes marcar las características de la nueva escena, tanto ancho como el alto de la misma, en píxeles.
	</div>

	<input class="new-scene-width" placeholder="Ancho">
	<input class="new-scene-height" placeholder="Alto">
	<button class="save" type="button">Guardar</button>
</div>